
.column,
#exploreTray {
     float: left;
}
.colA {
    overflow: auto;
    width: 976px;
}
.colA.column {
    padding-top: 0px !important;
}
.colB {
    overflow: auto;
    width: 624px;
}
.blq-js #international #blq-main .colB {
    height: auto;
    overflow: hidden;
}
.colC {
    padding-left: 16px;
    width: 336px;
}
.hide {
    display: none !important;
}
.offscreen {
    left: -5000px !important;
    position: absolute !important;
}
.blq-js #locationPanel {
    border: medium none;
    display: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
#locationPanel {
    color: #FFFFFF;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
}
#exploreTray {
    background: #8F8F8F;
    width: 100%;
}
#exploreTray .directory {
    overflow: auto;
    padding: 4px 0 0 0;
    width: 100%;
}
#exploreTray .directoryColumn {
    float: left;
    position: relative;
}
.hpDir1 {
    padding-left: 8px;
}
.hpDir1,
.hpDir2,
.hpDir3,
.hpDir4 {
    width: 152px;
}
.hpDir5 {
    margin-left: 20px;
}
#exploreTray ul {
    padding-bottom: 16px;
}
#exploreTray h2 {
    border-bottom: solid 1px #AFAFAF;
    color: #FFF;
    padding: 0 0 6px 8px;
}
#exploreTray h3 a {
    color: #323232;
    font-size: 1.231em;
    font-weight: bold;
}
#exploreTray li {
    line-height: 1.308em;
}
#exploreTray a {
    color: #FFF;
}
.aToz {
    font-size: 1.231em;
    padding: 30px 0 26px 0;
    color: #323232;
}
#exploreTray .aToz a {
    color: #323232;
    font-weight: bold;
}
* {
   font-family: Arial, sans-serif;
   letter-spacing: 0px;
   
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#blq-main h2 {
    font-size: 2.154em;
    font-weight: bold;
    line-height: 1.4285em;
    letter-spacing: -0.2px;
}
.module h2 {
	letter-spacing: -0.1px;
}
.heroLink,
.contentBlockUnavailable {
    font-size: 1.538em;
    font-weight: bold;
    line-height: 1.1em;
}
.list li {
    font-weight: bold;
    line-height: 1.231em;
}
#bbccom_leaderboard_container,
#blq-mast {
    background-color: #333 !important;
}
p {
    color: #505050;
}
h2,
h3 {
    color: #323232;
}
h2 a,
.contentBlocks a {
    color: #174f82;
}
.column,
#exploreTray {
     float: left;
}
.colA {
    overflow: auto;
    width: 976px;
}
.colA.column {
    padding-top: 0px !important;
}
.colB {
    overflow: auto;
    width: 624px;
}
.blq-js #international #blq-main .colB {
    height: auto;
    overflow: hidden;
}
.colC {
    padding-left: 16px;
    width: 336px;
}
.hide {
    display: none !important;
}
.offscreen {
    left: -5000px !important;
    position: absolute !important;
}
.blq-js #locationPanel {
    border: medium none;
    display: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
#locationPanel {
    color: #FFFFFF;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
}
#exploreTray {
    background: #8F8F8F;
    width: 100%;
}
#exploreTray .directory {
    overflow: auto;
    padding: 4px 0 0 0;
    width: 100%;
}
#exploreTray .directoryColumn {
    float: left;
    position: relative;
}
.hpDir1 {
    padding-left: 8px;
}
.hpDir1,
.hpDir2,
.hpDir3,
.hpDir4 {
    width: 152px;
}
.hpDir5 {
    margin-left: 20px;
}
#exploreTray ul {
    padding-bottom: 16px;
}
#exploreTray h2 {
    border-bottom: solid 1px #AFAFAF;
    color: #FFF;
    padding: 0 0 6px 8px;
}
#exploreTray h3 a {
    color: #323232;
    font-size: 1.231em;
    font-weight: bold;
}
#exploreTray li {
    line-height: 1.308em;
}
#exploreTray a {
    color: #FFF;
}
.aToz {
    font-size: 1.231em;
    padding: 30px 0 26px 0;
    color: #323232;
}
#exploreTray .aToz a {
    color: #323232;
    font-weight: bold;
}
* {
   font-family: Arial, sans-serif;
   letter-spacing: 0px;
   
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#blq-main h2 {
    font-size: 2.154em;
    font-weight: bold;
    line-height: 1.4285em;
    letter-spacing: -0.2px;
}
.module h2 {
	letter-spacing: -0.1px;
}
.heroLink,
.contentBlockUnavailable {
    font-size: 1.538em;
    font-weight: bold;
    line-height: 1.1em;
}
.list li {
    font-weight: bold;
    line-height: 1.231em;
}
#bbccom_leaderboard_container,
#blq-mast {
    background-color: #333 !important;
}
p {
    color: #505050;
}
h2,
h3 {
    color: #323232;
}
h2 a,
.contentBlocks a {
    color: #174f82;
}
#ad {
    margin-bottom: 0;
}
.bbccom_slot_mpu #adMpu {
    margin: 0 0 18px 18px;
}
.bbccom_slot_mpu_skyscraper #adMpu {
    width: 248px;
    padding-left: 88px;
    margin: 0;
}
#blq-pre-mast,
#bbccom_leaderboard_container {
    width: 976px !important;
}
.bbccom_slot_leaderboard97066 .bbccom_text,
.bbccom_slot_leaderboard97090 .bbccom_text {
    padding-right: 3px;
}
.bbccom_slot_mpu336 #adMpu {
    margin-left: 0;
}
#adMpu .advert {
    margin-left: 0;
}
.bbccom_module .moduleAdvertContent {
    padding: 0;
}
.bbccom_module .moduleAdvertContent .bbccom_text {
    margin: 0;
    width: auto;
}
#adLeaderboard,
.colB .bbccom_module .moduleAdvertContent .bbccom_text,
#spotlight .bbccom_module .moduleAdvertContent .bbccom_text,
#broadcast .bbccom_module .moduleAdvertContent .bbccom_text,
#weather .bbccom_module .moduleAdvertContent .bbccom_text {
    float: none;
}
.column .bbccom_module {
    float: right;
    margin-top: -64px;
    padding-right: 10px;
}
.column .bbccom_module .moduleAdvertContent .bbccom_image a {
    float: right;
}
.bbccom_display_none {
	display: none !important;
}
.tennisModule .bbccom_module {
    margin: 8px 0 0 0;
    padding-right: 8px;
}
body.bbccom_slot_module_00064 .tennisModule .bbccom_module .bbccom_text {
    color: #fff;
    float: left;
    margin:  16px 7px 0 0;
}
.tennisModule .bbccom_module div.bbccom_module_image {
    display: inline;
}
#ad {
    margin-bottom: 0;
}
.bbccom_slot_mpu #adMpu {
    margin: 0 0 18px 18px;
}
.bbccom_slot_mpu_skyscraper #adMpu {
    width: 248px;
    padding-left: 88px;
    margin: 0;
}
#blq-pre-mast,
#bbccom_leaderboard_container {
    width: 976px !important;
}
.bbccom_slot_leaderboard97066 .bbccom_text,
.bbccom_slot_leaderboard97090 .bbccom_text {
    padding-right: 3px;
}
.bbccom_slot_mpu336 #adMpu {
    margin-left: 0;
}
#adMpu .advert {
    margin-left: 0;
}
.bbccom_module .moduleAdvertContent {
    padding: 0;
}
.bbccom_module .moduleAdvertContent .bbccom_text {
    margin: 0;
    width: auto;
}
#adLeaderboard,
.colB .bbccom_module .moduleAdvertContent .bbccom_text,
#spotlight .bbccom_module .moduleAdvertContent .bbccom_text,
#broadcast .bbccom_module .moduleAdvertContent .bbccom_text,
#weather .bbccom_module .moduleAdvertContent .bbccom_text {
    float: none;
}
.column .bbccom_module {
    float: right;
    margin-top: -64px;
    padding-right: 10px;
}
.column .bbccom_module .moduleAdvertContent .bbccom_image a {
    float: right;
}
.bbccom_display_none {
	display: none !important;
}
.tennisModule .bbccom_module {
    margin: 8px 0 0 0;
    padding-right: 8px;
}
body.bbccom_slot_module_00064 .tennisModule .bbccom_module .bbccom_text {
    color: #fff;
    float: left;
    margin:  16px 7px 0 0;
}
.tennisModule .bbccom_module div.bbccom_module_image {
    display: inline;
}
#promo {
    margin-bottom: 0;
}
#promo .contentBlocks {
    overflow: visible;
}
#promo h2 {
   background-color: #dcdcdc;
   padding: 1px 0 1px 14px;
   border-bottom: 0;
   margin-bottom: 0;
}
body.brb #promo h2 {
    background-color: #f5322e;
}
body.brb #promo h2 a {
   color: #fff;
}
body.byb #promo h2 {
    background-color: #ff0;
}
.column {
	padding-top: 10px !important;
}
body.bbccom_slot_mpu .colC.column {
    padding-top: 0 !important;
}
.module {
    float: left;
    margin-bottom: 16px;
}
.module h2 {
    border-bottom: solid 1px #d3d3d3;
    margin-bottom: 7px;
}
.module h2 a,
.module h3 a {
    position: relative;
}
.module h3 {
    display: none;
}
.module img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.carousel_viewport div,
.carousel_viewport dl {
    margin: 0;
    padding: 0;
    width: 624px;
    height: 259px;
    list-style: none;
}
.carousel_viewport dl {
    float: left;
}
.carousel {
    position: relative;
}
.carousel .nav_left,
.carousel .nav_right,
.carousel .autoplay {
    bottom: 16px;
    position: absolute;
    width: 47px;
    height: 48px;
    overflow: hidden;
}
.carousel .autoplay {
    left: 48%;
}
.carousel .nav_left {
    left: 0;
    background: #707070 url(../contentblock/../../img/sprite.png) no-repeat -3px -32px;
}
.carousel .nav_right {
    right: 0;
    background: #707070 url(../contentblock/../../img/sprite.png) no-repeat -67px -32px;
}
.carousel .nav_pause {
    background: #707070 url(../contentblock/../../img/sprite.png) no-repeat -2px -82px;
}
.carousel .nav_play {
    background: #707070 url(../contentblock/../../img/sprite.png) no-repeat -67px -82px;
}
.carousel .nav_left img,
.carousel .nav_right img {
    position: absolute;
    top: 4px;
}
.carousel .nav_left img {
    left: 47px;
}
.carousel .nav_right img {
    right: 47px;
}
.carousel .hover {
    background-color: #eb7515;
}
.carousel .nav_right.hover {
    background: #eb7515 url(../contentblock/../../img/sprite.png) no-repeat scroll 9px -32px;
}
.carousel .carousel_itemList {
    position: absolute;
    top: -26px;
    right: 18px;
}
.carousel .carousel_itemList li {
    position: relative;
    float: left;
    width: 9px;
    height: 9px;
    background-color: #505050;
    margin: 0 2px;
    padding: 0;
    border: 0;
}
.carousel .carousel_itemList li.active {
	background-color: #eb7515;
}
.carousel {
    background-color: #000;
    color: #fff;
}
.carousel a {
    color: #fff !important;
}
.carousel a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background: url(../contentblock/../../img/media-icons-sprite.png) no-repeat 0 0;
}
.carousel a .video {
    background-position: -125px 0;
}
.carousel a:hover .video {
    background-position: -187px 0;
}
.carousel a .audio {
    background-position: -249px 0;
}
.carousel a:hover .audio {
    background-position: -311px 0;
}
.carousel a .gallery {
    background-position: 0 0;
}
.carousel a:hover .gallery {
    background-position: -62px 0;
}
.carousel dl {
    width: 624px;
    height: 259px;
    position: relative;
}
.carousel dt,
.carousel dd.desc {
    width: 164px;
    padding: 11px 11px 0 16px
}
.carousel dt {
    line-height: 1.4em;
}
.carousel dt a {
    font-size: 1.538em;
    font-weight: bold;
    letter-spacing: -0.1px;
}
.carousel dd.desc {
    font-size: 13px;
    line-height: 1.2;
    padding-top: 7px;
}
.carousel dd.img {
    position: absolute;
    top: 0;
    right: 0;
}
.carousel dd.img img {
    width: 432px;
    height: 259px;
}
body.brb #promo h2 a {
   background: none;
}
body.byb #promo h2 a {
   background: none;
}
#promo h2 a {
   background-color: #dcdcdc;
}
.promo div.contentBlockUnavailable {
	background-color: #000;
	color: #fff;
	width: 624px;
	height: 259px;
	position: relative;
}
.promo div.contentBlockUnavailable p {
	padding: 11px 11px 0 16px;
	width: 164px;
	color: #fff;
	float: left;
}
.promo div.contentBlockUnavailable img {
	float: right;
}
#promo dl dt a:hover {
    text-decoration: underline;
}
.contentBlocks {
    overflow: hidden;
}
#news {
    width: 624px;
    margin-bottom:0px;
}
#news_hero {
    float: left;
    width: 304px;
}
#news_hero_mini,
#news_moreTopStories {
    float: left;
    padding-left: 16px;
    width: 144px;
}
#news_hero_mini .heroLink {
    font-size: 16px;
}
#news_hero_mini_summary {
    padding-bottom: 0px;
}
#news_moreTopStories .first {
    padding-top: 0;
}
#news_moreTopStories li {
    padding: 12px 0;
}
#news_moreTopStories .last {
    border-bottom: 0;
}
.hero {
    padding-bottom: 8px;
}
.heroLink img {
    float: left;
    font-size: 0.6em;
    font-weight: normal;
    padding: 0 0 5px;
}
.summary {
    line-height: 1.231em;
}
#news_hero .contentBlockUnavailable {
    width: 500px;
}
#news_hero_mini .contentBlockUnavailable {
    display:none;
}
.list li {
    border-bottom: solid 1px #efefef;
    padding: 4px 0;
}
.list li.first {
    padding-top: 0;
}
#news .list .contentBlockUnavailable,
#sport .list .contentBlockUnavailable {
    display: none;
}
#business {
    float: left;
    margin-right: 16px;
    width: 304px;
}
#asia #business {
    margin-bottom: 8px;
}
#business h2 {
    border-top: 1px solid #d3d3d3;
}
#business #business_moreTopStories .first {
    font-size: 16px;
}
#business #business_moreTopStories .last {
    font-size: 13px;
}
.bbccom_slot_module_00008 #business_title {
    height: 62px;
}
#business #business_asia_business_hero_mini div.title {
    float: left;
    width: 144px;
}
#business #business_asia_business_hero_mini {
    padding-bottom: 0px;
}
#business #business_asiaBusinessMoreTopStories {
    float: left;
    padding-left: 16px;
    width: 144px;
}
#business #business_asiaBusinessMoreTopStories li {
    padding: 12px 0
}
#business #business_asiaBusinessMoreTopStories .first {
    padding-top: 0;
}
#business #business_asia_business_title {
    display: block;
    font-size: 1.538em;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    line-height: 1.6em;
    margin: 16px 0 8px 0;
}
#business div.cbg1 div.title,
#business div.cbg2 div.title {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #efefef;
}
#business #business_asia_business_hero_mini .heroLink {
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
}
#business #business_asia_business_hero_mini .heroLink span {
    line-height: normal;
}
.marketData {
    background: #F0F0F0;
}
#marketwatch {
    padding:5px 0 4px 3px;
    border-top:1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
}
#marketwatch h4 {
    display:inline;
}
#marketwatch span {
    font-size: 0.846em;
}
#marketwatch #marketwatchTicker {
    background: url(../contentblock/../../img/sprite.png) -28px 3px;
    padding-left: 18px;
}
.marketData table thead {
    display:none;
}
.marketData table {	
	line-height: 1.2em;
    margin: 0 !important; 
    font-size: 0.923em;
    text-align: right;
}
.marketData table tr {
	border-bottom: solid 1px #DCDCDC;
}
.marketData table td {
	padding: 7px 0;
}
.marketData table .marketname {
	width: 40%;
	padding-left: 3px;
	text-align: left;
}
.marketData table .marketname a {
	display: block;
    font-weight: bold;
	overflow: hidden;
}
.marketData table .current {
	width: 15%;
}
.marketData table .movement {
	width: 10%;
	vertical-align: middle;
	text-align:left;
}
.marketData table .change {
	width: 20%;
	padding-right: 10px;
}
.marketData table .percentageChange {
    font-weight: bold;
    padding-right: 3px;
	width: 15%;
}
.marketData table .up .movement {
	color: #2CA100;
}
.marketData table .down .movement {
	color: #BF3000;
}
.marketData table .movement span {
	background: url(../contentblock/../../img/sprite.png) no-repeat;
	width: 13px;
	height: 9px;
	display: block;
	text-indent: -5000px;
	margin-left: 20px;
}
.marketData table .up .movement span {
	background-position: -14px 0;
}
.marketData table .down .movement span {
	background-position: 0 0;
}
.marketData  ul.termsConditions {
	padding: 10px;
	float: left;
	width: 100%;
	list-style-type: none;
}
.marketData .termsConditions li {
	float: left;
	font-size: 0.92em; 
	line-height: 1.2em;
	border-left: 1px solid #797979;
	padding: 0 0 0 6px;
	margin: 0;
}
.marketData .termsConditions li.first {
	border-left: 0;
	padding-left: 0;
	margin-right: 6px;
	color: #494949;
}
.marketData .termsConditions li a {
	float: left;
	white-space: nowrap;
}
#sport {
    float: left;
    width: 304px;
}
#sport h2 {
    border-top: 1px solid #d3d3d3;
}
#sport .hero {
    overflow: hidden;
}
#sport .hero .heroLink {
    font-size: 16px;
}
#sport .title_first img {
    float: left;
    left: 144px;
    margin-left: -144px;
    margin-top: 0px;
    padding-top: 27px;
    position: relative;
}
#sport .title_first .summary {
    margin-left: 160px;
    padding-top: 4px;
}
#sport #sport_moreTopStories .first {
    border-top: 1px solid #efefef;
    padding-top: 4px;
}
.bbccom_slot_module_00008 #sport_title {
    height: 62px;
}
.column #sport .bbccom_module {
    margin-top: -66px;
    padding-right: 0px;
}
#asia #sport {
    margin-bottom: 8px;
}
#sport #sport_container h3.cbgt1,
#sport #sport_container h3.cbgt2 {
    display: block;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin: 16px 0 8px;
    font-size: 1.538em;
    line-height: 1.6em;
}
#sport #sport_container .cbg1 {
    float: left;
    width: 144px;
}
#sport #sport_container .cbg2 {
    float :right;
    width: 144px;
}
#sport .cbg1 .hero .title,
#sport .cbg2 .hero .title {
    border-bottom: 1px solid #efefef;
    padding-bottom: 9px;
    margin-bottom: 9px;
    line-height: 1.231em;
}
#sport .cbg1 .hero .heroLink,
#sport .cbg2 .hero .heroLink {
    font-size: 13px;
}
#sport .cbg1 .hero .heroLink img,
#sport .cbg2 .hero .heroLink img {
    padding-bottom: 9px;
}
#sport .cbg1 .list .first,
#sport .cbg2 .list .first {
    padding-bottom: 9px;
}
#sport #sport_mini_hero_advert_block_1 #bbccom_module_0005n.bbccom_module,
#sport #sport_mini_hero_advert_block_2 #bbccom_module_0005o.bbccom_module {
    margin-top: -6px;
}
#more {
    width: 100%;
}
#more h2 {
    border-top: 1px solid #d3d3d3;
}
#more .contentBlocks {
    width: 144px;
    float: left;
    margin-right: 16px;
}
#more .contentBlocks.cbg3 {
    margin-right: 0;
}
#more .contentBlocks h2 {
    font-size: 20px;
    border: 0;
    line-height: normal;
    min-height: 50px;
}
#more .contentBlocks .hero .title a {
    font-size: 13px;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
}
#more .contentBlocks .hero .title p {
    padding-bottom: 4px;
}
#more .contentBlocks .hero .first {
    padding-top: 4px;
    border-top: 1px solid #efefef;
}
#more .hero {
    padding-bottom: 0;
}
.bbccom_slot_module_0002l #more .hero {
    padding-bottom: 0;
}
.bbccom_slot_module_0002l #more ul {
    border-bottom: 1px solid #e8e8e8;
}
.bbccom_slot_module_0002l #more .bbccom_module {
    float: right;
    margin-top: 0;
    padding-right: 8px;
}
#royalWeddingLeadUp {
    width: 624px;
    background: #f0f0f0 none repeat scroll 0 0;
}
#royalWeddingLeadUp_title a {
    color: #fff;
}
#royalWeddingLeadUp_title {
    background-color: #a38c3e;
    padding: 0 0 0 10px;
}
#royalWeddingLeadUp .hero {
	float: left;
	width: 304px;
	margin-left: 10px;
}
#royalWeddingLeadUp .list {
	float: left;
	width: 280px;
	padding-left: 16px;
}
#royalWeddingLeadUp .hero .summary {
	margin-left: 160px;
}
#royalWeddingLeadUp .list li {
	border-bottom: 1px solid #d3d3d3;
}
#royalWeddingLeadUp .contentBlocks {
	padding-bottom: 10px;
}
#royalWeddingLeadUp .heroLink img {
	padding-top: 4px;
}
#royalWeddingLeadUp .heroLink span {
	width: 305px;
	display: block;
}
#royalWeddingLeadUp .heroLink:hover span {
    text-decoration: underline;
    cursor: pointer;
}
#royalWeddingLeadUp .heroLink {
	padding-right: 0px;
}
#royalWeddingLeadUp_title_link:hover {
	color: #dcd3b6 !important;
}
#royalWeddingDay {
	margin-bottom: 0px;
	padding-bottom: 16px;
	border-bottom: 1px solid #d3d3d3;
}
#royalWeddingDay h2 {
    padding: 1px 0 1px 14px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 2px;
}
#royalWeddingDay .contentBlockUnavailable {
	display: none;
}
#royalWeddingDay_title a {
    color: #a38b3e !important;
}
#royalWeddingDay h2 a:hover {
	color: #705b20 !important;
}
#royalWeddingDay_carousel .hover,
#royalWeddingDay_carousel .carousel_itemList li.active {
	background-color: #a38b3e;
}
#royalWeddingDay_carousel {
    margin-bottom: 10px;
}
#royalWeddingDay_hero {
	float: left;
	width: 305px;
	padding-right: 15px;
}
#royalWeddingDay_list {
	float: left;
	width: 300px;
}
#royalWeddingDay_title {
    background: url(../module/../../img/filigri.gif) no-repeat right top;
    margin-bottom: 5px;
}
#royalWeddingDay .contentBlocks {
    overflow: visible;
}
#royalWeddingDay_list li.last {
	border: none;
}
#royalWeddingDay_carousel ul,
#royalWeddingDay_carousel li.item {
	height: 300px;
}
#royalWeddingDay_carousel li.item {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
#royalWeddingDay_carousel img {
    width: 624px;
}
#royalWeddingDay .carousel dl {
	height: 300px;
}
#royalWeddingDay .carousel dd.img img {
	height: 300px;
}
#royalWeddingDay_carousel .nav_left img,
#royalWeddingDay_carousel .nav_right img {
	width: 71px;
	height: 40px;
}
#travel {
    background: #dcdcdc;
}
#travel h2 {
    border-bottom: 0;
    padding: 1px 0 1px 14px;
    margin-bottom: 0;
}
#travel .contentBlocks {
    overflow: visible;
}
#travel dl dt a:hover {
    text-decoration: underline;
}
body.bbccom_slot_module_0001f #travel h2 {
    height: 64px;
}
body.bbccom_slot_module_0001f #travel .carousel_itemList {
    top: -17px;
    right: 8px;
}
body.bbccom_slot_module_0001f #travel .bbccom_module .moduleAdvertContent {
    margin-top: 8px;
}
body.bbccom_slot_module_0001f #travel .bbccom_module .bbccom_text {
    float: left;
    margin:  16px 7px 0 0;
}
body.bbccom_slot_module_0001f #travel .bbccom_module .bbccom_image {
    float: left;
}
#travel div.contentBlockUnavailable {
	background-color: #000;
	color: #fff;
	width: 624px;
	height: 259px;
	position: relative;
}
#travel div.contentBlockUnavailable p {
	padding: 11px 11px 0 16px;
	width: 164px;
	color: #fff;
	float: left;
}
#travel div.contentBlockUnavailable img {
	float: right;
}
#worldService {
    background: #F0F0F0;
    padding: 0 4px;
}
#worldService h2 {
    border-bottom: 1px solid #FFFFFF;
}
#worldService h2,
#worldService .contentBlocks {
    padding: 0 4px;
}
#worldService .summary {
    display: none;
}
#worldService .cbg0 {
    float: left;
}
#worldService .cbg1 {
    border-top: 1px solid #fff;
    float: left;
}
#worldService_container .contentBlock {
    float: left;
    padding-right: 10px;
    width: 140px;
}
#worldService_container #worldService_spanish .image_first,
#worldService_container #worldService_arabic .image_first,
#worldService_container #worldService_persian .image_first,
#worldService_container #worldService_chinese .image_first {
    padding-right: 16px;
}
#worldService .hero h3 {
   display: block;
   padding-bottom: 2px;
}
#worldService .hero h3 a {
    color: #000;
}
#worldService .hero h3 a:hover {
    color: #000 !important;
    text-decoration: underline;
}
#worldService .heroLink {
    font-size: 14px;
}
#worldService #worldService_arabic .title,
#worldService #worldService_persian .title {
    direction: rtl;
}
#worldService_container #worldService_languages {
    float: left;
    padding-left: 0;
    width: 100%;
}
#worldService_languages_title {
    display: block;
    padding: 3px 0 4px 0;
}
#worldService_languages li {
    float: left;
    width: 152px;
    padding: 5px 0;
}
#worldService_languages li.first {
    padding-top: 4px;
}
#worldService_languages li a {
    color: #000;
    background: url(../module/../../img/languages-sprite.png) no-repeat 0 0;
}
#worldService_languages li .as {
    padding-right: 84px;
    background-position: 38px -2px;
}
#worldService_languages li .bn {
    padding-right: 36px;
    background-position: 50px -21px;
}
#worldService_languages li .my {
    padding-right: 33px;
    background-position: 61px -42px;
}
#worldService_languages li .zh {
    padding-right: 39px;
    background-position: 56px -62px;
}
#worldService_languages li .fr {
    padding-right: 57px;
    background-position: 49px -81px;
}
#worldService_languages li .ha {
    padding-right: 45px;
    background-position: 44px -102px;
}
#worldService_languages li .hi {
    padding-right: 35px;
    background-position: 38px -122px;
}
#worldService_languages li .id {
    padding-right: 68px;
    background-position: 75px -142px;
}
#worldService_languages li .rw {
    padding-right: 56px;
    background-position: 87px -162px;
}
#worldService_languages li .rn {
    padding-right: 53px;
    background-position: 51px -182px;
}
#worldService_languages li .ky {
    padding-right: 53px;
    background-position: 48px -202px;
}
#worldService_languages li .ne {
    padding-right: 41px;
    background-position: 46px -222px;
}
#worldService_languages li .ps {
    padding-right: 46px;
    background-position: 48px -243px;
}
#worldService_languages li .pt-BR {
    padding-right: 47px;
    background-position: 77px -262px;
}
#worldService_languages li .si {
    padding-right: 33px;
    background-position: 54px -301px;
}
#worldService_languages li .so {
    padding-right: 51px;
    background-position: 50px -322px;
}
#worldService_languages li .sw {
    padding-right: 53px;
    background-position: 52px -342px;
}
#worldService_languages li .ta {
    padding-right: 42px;
    background-position: 39px -363px;
}
#worldService_languages li .tr {
    padding-right: 52px;
    background-position: 51px -381px;
}
#worldService_languages li .uk {
    padding-right: 76px;
    background-position: 66px -402px;
}
#worldService_languages li .ur {
    padding-right: 26px;
    background-position: 35px -423px;
}
#worldService_languages li .uz {
    padding-right: 47px;
    background-position: 44px -442px;
}
#worldService_languages li .vi {
    padding-right: 69px;
    background-position: 78px -462px;
}
#worldService_languages li .ru {
    padding-right: 80px;
    background-position: 56px -282px;
}
#worldService_languages li .ar {
    padding-right: 43px;
    background-position: 47px -482px;
}
#worldService_languages li .fa {
    padding-right: 40px;
    background-position: 53px -502px;
}
#worldService_languages li .es {
    padding-right: 51px;
    background-position: 57px -522px;
}
#spotlight {
    background-color: #dcdcdc;
    position: relative;
}
#spotlight h2 {
     margin-bottom: 0;
}
#spotlight #spotlight_sponsorAd {
    background-color: #f0f0f0;
}
#spotlight #spotlight_sponsorAd_title {
    display: block;
    font-size: 20px;
    padding: 8px;
}
#spotlight #spotlight_sponsorAd_title a {
    color: #174f82;
    display: inline;
    padding-right: 0;
}
#spotlight #spotlight_sponsorAd_title a:hover {
    text-decoration: underline;
}
#spotlight .heroLink img {
    padding-bottom: 0;
}
#spotlight .heroLink  {
    font-size: 1.846em;
    line-height: 1.4285em;
}
#spotlight .heroLink span {
    font-size: 18px;
    float: left;
    width: 320px;
    margin: 8px 0 6px;
    line-height: 1.2;
}
#spotlight .heroLink:hover span {
    text-decoration: underline;
}
#spotlight_list li.first {
    border-top: 1px solid #d3d3d3;
}
#spotlight h2,
#spotlight .heroLink span,
#spotlight #spotlight_hero_summary,
#spotlight_list li {
    padding: 0px 8px;
}
#spotlight_list li {
    font-size: 13px;
    font-weight: bold;
    border-color: #d3d3d3;
    padding: 4px 8px;
}
#spotlight #spotlight_hero .contentBlockUnavailable,
#spotlight #spotlight_list .contentBlockUnavailable {
    display:none;
}
#spotlight .bbccom_module {
    position: absolute;
    margin: 0;
    top: 2px;
    right: 0;
}
body.bbccom_slot_module_0000i #spotlight h2 {
    height: 66px;
}
#mostPopular {
    background-color: #dcdcdc;
    width: 326px;
    padding: 0 5px 5px;
}
body.bbccom_slot_module_00029 #mostPopular {
    padding-bottom: 3px;
}
#mostPopular h2 {
    padding-left: 2px;
    border:none;
}
#mostPopular h3 a {
    padding-right: 0;
}
#mostPopular #mostPopular_tabset {
    overflow: hidden;
}
#mostPopular h3 {
    font-size: 16px;
    display: inline;
}
#mostPopular .inner-container {
    background-color: #fff;
    padding: 5px;
}
#mostPopular .bbccom_module {
    float: none;
    margin: 10px 5px 0 0;
    padding: 0;
}
#mostPopular .bbccom_module .bbccom_module_adlabel {
    margin: 15px 0 0 34px;
}
#mostPopular_shared h3,
#mostPopular_read h3,
#mostPopular_watched h3 {
	display:none;
}
#mostPopular_shared,
#mostPopular_read,
#mostPopular_watched
{
	margin-left:16px;
}
#broadcast {
    width: 336px;
    background-color: #f0f0f0;
}
#broadcast h2 {
    padding-left: 8px;
    border-bottom: none;
    background-color: #dcdcdc;
}
#broadcast h3 {
    display: block;
    font-size: 1.538em;
    margin-bottom: 5px;
}
#broadcast a {
    font-weight: bold;
}
#broadcast .bbccom_module {
    margin-top:-70px;
}
#broadcast #broadcast_bbcEntertainmentIndia {
    border-bottom: 1px solid #d3d3d3;
    padding: 2px 8px 6px;
}
#broadcast #broadcast_worldNewsTv {
    padding: 10px 8px 6px;
}
#broadcast #broadcast_broadcastSchedule h3 {
    padding: 10px 0 8px 8px;
    border-top: 1px solid #d3d3d3;
}
#broadcast #broadcast_broadcastSchedule h4,
#broadcast #broadcast_broadcastSchedule dt {
    margin: 0 8px;
    padding: 8px 8px 3px;
    font-size: 1.231em;
    color: #323232;
    background-color: #fff;
}
#broadcast #broadcast_broadcastSchedule h4 span {
    color: #6f6f6f;
}
#broadcast #broadcast_broadcastSchedule .now dt a {
    padding-left: 35px;
    background: url(../module/../../img/sprite.png) no-repeat -184px 3px;
}
#broadcast #broadcast_broadcastSchedule dl {
    margin: 0 8px;
    padding: 0 9px 6px;
    background-color: #fff;
}
#broadcast #broadcast_broadcastSchedule dt {
    margin-left: 0;
    padding-left: 0;
}
#broadcast #broadcast_broadcastSchedule dd {
    font-size: 1em;
    line-height: 1.231em;
    color: #505050;
}
#broadcast #broadcast_broadcastSchedule .next {
    font-size: 1em;
}
#broadcast #broadcast_broadcastSchedule .next .title {
    font-size: 1.0775em;
    font-weight: bold;
    color: #6f6f6f;
    padding-top: 5px;
}
#broadcast #broadcast_broadcastSchedule .next .description {
    font-size: 0.923em;
    line-height: 1.231em;
    color: #505050;
}
#broadcast #broadcast_hourlyBulletins {
    background-color: #fff;
    margin: 0 8px 8px;
    padding-top: 6px
}
#broadcast #broadcast_hourlyBulletins ul {
    padding: 0 9px 4px;
}
#broadcast #broadcast_hourlyBulletins li {
    background: url(../module/../../img/broadcast-sprite.png) no-repeat 0 1px;
    display: inline;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 44px;
}
#broadcast #broadcast_hourlyBulletins .last {
    padding-right: 0;
}
#broadcast #broadcast_hourlyBulletins h4 {
    margin-left: 9px;
}
#broadcast #broadcast_hourlyBulletins .todays-schedule {
    padding-bottom: 5px;
    margin: 0 9px 5px;
    border-bottom: 1px solid #d3d3d3;
}
body.bbccom_slot_module_0004t #broadcast h2 {
    height: 64px;
}
.mostPopular_title{
    border: 0;
}
.livestats-icon {
    background: #a9a9a9 url(../contentblock/../../img/livestats-sprite.png) repeat;
}
.glow173-ie .livestats-icon {
    background-color: transparent;
    background-image: url(../contentblock/../../img/livestats-sprite.gif);
}
.livestats .livestats-header {
    letter-spacing: -0.05em;
    line-height: 24px;
    text-indent: -1px;
    padding: 0 0 0;
}
.livestats .tab {
    padding: 9px 16px 10px 0;
    position: relative;
    background: transparent;
    z-index: 100;
}
.livestats .panel {
    position: relative;
    overflow: hidden;
    width: 336px;
    background: #fff;
}
.livestats .panel {
	background: #f6f6f6;
}
.livestats .panel li {
	border-top: 1px solid #d3d3d3;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	zoom: 1;
    font-weight: bold;
}
.blq-js .livestats .panel li {
	margin-left: 16px;
	margin-right: 10px;
}
.livestats .panel li a {
	display: inline;
	float: left;
	overflow: visible;
	padding: 11px 29px 12px 16px;
	position: relative;
	width: 280px;
}
.blq-js .livestats .panel li a {
	padding: 11px 29px 12px 0;
        line-height: 1.2;
}
.ie7 .livestats .panel li a,
.glow173-ie .livestats .panel li a {
    padding-bottom: 8px;
    height: 1%;
}
.livestats .panel li.first-child {
    border-top: none;
}
.livestats .panel li.first-child a {
	padding-top: 12px;
}
.livestats .livestats-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -18px;
    height: 36px;
    width: 25px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -50000px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
}
.glow173-ie .livestats .livestats-icon {
	margin-top: -16px;
}
.livestats a:hover .livestats-icon, .livestats a:focus .livestats-icon {
    background-color: #323232;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}
.livestats .livestats-1 {
    background-position: 1px 3px;
}
.glow173-ie .livestats .livestats-1 {
    background-position: 1px -3px;
}
.glow173-ie .livestats a:hover .livestats-1,
.glow173-ie .livestats a:focus .livestats-1 {
    background-position: -335px -3px;
}
.livestats .livestats-2 {
    background-position: -32px 3px;
}
.glow173-ie .livestats .livestats-2 {
    background-position: -32px -3px;
}
.glow173-ie .livestats a:hover .livestats-2,
.glow173-ie .livestats a:focus .livestats-2 {
    background-position: -368px -3px;
}
.livestats .livestats-3 {
    background-position: -64px 3px;
}
.glow173-ie .livestats .livestats-3 {
    background-position: -64px -3px;
}
.glow173-ie .livestats a:hover .livestats-3,
.glow173-ie .livestats a:focus .livestats-3 {
    background-position: -400px -3px;
}
.livestats .livestats-4 {
    background-position: -96px 3px;
}
.glow173-ie .livestats .livestats-4 {
    background-position: -96px -3px;
}
.glow173-ie .livestats a:hover .livestats-4,
.glow173-ie .livestats a:focus .livestats-4 {
    background-position: -432px -3px;
}
.livestats .livestats-5 {
    background-position: -127px 3px;
}
.glow173-ie .livestats .livestats-5 {
    background-position: -127px -3px;
}
.glow173-ie .livestats a:hover .livestats-5,
.glow173-ie .livestats a:focus .livestats-5 {
    background-position: -463px -3px;
}
.livestats .livestats-6 {
    background-position: -160px 3px;
}
.glow173-ie .livestats .livestats-6 {
    background-position: -160px -3px;
}
.glow173-ie .livestats a:hover .livestats-6,
.glow173-ie .livestats a:focus .livestats-6 {
    background-position: -496px -3px;
}
.livestats .livestats-7 {
    background-position: -192px 3px;
}
.glow173-ie .livestats .livestats-7 {
    background-position: -192px -3px;
}
.glow173-ie .livestats a:hover .livestats-7,
.glow173-ie .livestats a:focus .livestats-7 {
    background-position: -528px -3px;
}
.livestats .livestats-8 {
    background-position: -224px 3px;
}
.glow173-ie .livestats .livestats-8 {
    background-position: -224px -3px;
}
.glow173-ie .livestats a:hover .livestats-8,
.glow173-ie .livestats a:focus .livestats-8 {
    background-position: -560px -3px;
}
.livestats .livestats-9 {
    background-position: -256px 3px;
}
.glow173-ie .livestats .livestats-9 {
    background-position: -256px -3px;
}
.glow173-ie .livestats a:hover .livestats-9,
.glow173-ie .livestats a:focus .livestats-9 {
    background-position: -592px -3px;
}
.livestats .livestats-10 {
    width: 26px;
    background-position: -287px 3px;
}
.glow173-ie .livestats .livestats-10 {
    background-position: -287px -3px;
}
.glow173-ie .livestats a:hover .livestats-10,
.glow173-ie .livestats a:focus .livestats-10 {
    background-position: -623px -3px;
}
.blq-js .livestats-tabbed .livestats-header {
    padding-bottom: 8px;
}
.blq-js .livestats-tabbed .tab {
    float: left;
    display: inline;
    top: 0;
    padding: 5px 10px 6px 8px;
    cursor: pointer;
}
.blq-js .livestats-tabbed .selected {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
}
.blq-js .livestats-tabbed h4.selected {
	background: #505050;
}
.blq-js .livestats-tabbed h4.selected a {
    color: #ffffff;
}
.blq-js .livestats-tabbed .panel {
    position: absolute;
    float: right;
    clear: right;
    margin-right: 0;
    margin-top: 32px;
    opacity: 0;
    z-index:-1;
}
.blq-js .glow173-ie .livestats-tabbed .panel,
.blq-js .ie7 .livestats-tabbed .panel {
    clear: none;
}
.blq-js .livestats-tabbed div.selected {
	margin-right: -336px;
	opacity: 1;
	position: relative;
	right: 336px;
	width: 336px;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    z-index:100;
}
.blq-js .glow173-ie .livestats-tabbed div.selected,
.blq-js .ie7 .livestats-tabbed div.selected {
    margin-top: 32px;
}
#weather {
    background: #F0F0F0;
    padding: 0 4px;
    width: 328px;
}
#weather a {
    font-weight: bold;
}
#weather h2 {
    border-bottom-color: #ffffff;
    padding: 0 4px;
}
#weather h3 {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 4px;
}
.weatherforecast dl.dayForecast {
    border-bottom: 1px solid #ffffff;
    clear: both;
    margin: 0 4px;
    overflow: hidden;
    padding: 7px 0;
    width: 320px;
}
.weatherforecast dl.dayForecast dt {
    overflow: hidden;
}
.weatherforecast dl.dayForecast dt,
.weatherforecast dl.dayForecast dd {
    clear: none;
    color: #494949;
    float: left;
    margin-top: 0;
    text-align: left;
    width: 80px;
    padding-right: 6px;
}
.weatherforecast dl.dayForecast dd {
    line-height: normal;
    margin-left: -86px;
    padding: 22px 12px 15px 0;
    width: 74px;
}
.weatherforecast dl.dayForecast dt.last,
.weatherforecast dl.dayForecast dd.last {
    padding-right: 0;
    width: 62px;
}
.weatherforecast dl.dayForecast dd.last {
    margin-left: -62px;
}
.weatherforecast dl.dayForecast dd .forecast {
    font-weight: bold;
    margin-bottom: 0.3em;
}
.weatherforecast .detail {
    padding: 5px;
}
.weatherforecast .edit {
    background: #ffffff;
    color: #757575;
    cursor: pointer;
    display: block;
    float: right;
    padding: 0.1em 0.7em;
    margin-right: 4px;
}
.weatherforecast .searchPanel {
    border-bottom: 1px solid #ffffff;
    clear: both;
    display: none;
    padding: 15px 0;
}
.weatherforecast .searchPanel #weather_searchPanel_form {
    margin: 0 4px 6px;
}
.weatherforecast .searchPanel #weather_searchPanel_form label {
    display: none;
}
.weatherforecast .searchPanel #weather_searchPanel_form .field {
    background: #ffffff;
    overflow: auto;
    width: 320px;
}
.weatherforecast .searchPanel #weather_searchPanel_form .field input {
    background: #ffffff;
    border: none;
    color: #757575;
    float:left;
    padding: 2px 4px;
    width: 286px;
}
.weatherforecast .searchPanel #weather_searchPanel_form .field .submit {
    background: url(../module/../../img/weather/search.jpg) no-repeat 0 0;
    border: 0 none;
    cursor: pointer;
    float:left;
    height: 23px;
    padding: 0;
    width: 26px;
    text-indent: -1000em;
}
.weatherforecast .searchPanel .results {
    display: none;
}
.weatherforecast .searchPanel .results p {
    border-bottom: 1px solid #ffffff;
    margin: 0 0 10px;
    padding: 0 4px 8px;
}
.weatherforecast .searchPanel .results p.noResults {
    border-bottom: none;
    margin-bottom: 0;
}
.weatherforecast .searchPanel .results ul {
    margin: 0 4px;
}
#weather .bbccom_module {
    margin-top: -72px;
    padding-right: 6px;
}
body.bbccom_slot_module_0001k #weather h2 {
    height: 66px;
}
.weather_loading {
    display: none;
}
#personalisation .locator-form, #personalisation .clear-form {
    display: block;
    float: none;
    margin: 0;
    width: 592px;
}
#announce {
    background: #F0F0F0;
    padding: 0 8px;
    width: 320px;
}
#announce h2 {
    border-bottom: 1px solid #fff;
}
#announce #announce_message {
    margin-bottom: 8px;
}
#announce #announce_message img {
    float: left;
    margin: 0 8px 8px 0;
}
#announce #announce_message p {
    line-height: 1.3em;
}
.tennisModule {
    background-color: #0f3c03;
}
.js .tennisModule {
    
}
.tennisModule .hero .heroLink img {
    padding-right: 10px;
}
.tennisModule .hero {
    padding-bottom: 10px;
}
.tennisModule .hero .summary {
    float:right;
    margin-bottom:10px;
    width:290px;
}
.tennisModule .list {
    border-top: 1px solid #dcdcdc;
    float:right;
    clear: right;
    width:290px;
}
.tennisModule .list li {
    border-bottom-color: #dcdcdc;
}
.tennisModule .list ul li.first {
    border-top: 1px solid #efefef !important;
    padding-top: 4px;
}
.tennisModule .list ul li.last {
    border-bottom: none !important;
}
.tennisModule h2 {
    float: left;
    border-bottom: none;
    margin-bottom: 0;
    padding-left: 10px;
    color: #fff;
}
.tennisModule h2 a {
    color: #fff;
}
.tennisModule .container {
    clear: both;
    background: #f0f0f0;
    color: #505050;
    padding: 7px 9px 0;
}
.tennisModule .container .contentBlocks {
    clear: both;
}
.tennisModule .container .cbg1 {
    margin: 10px -9px 0;
}
.tennisModule .container .heroLink {
    font-size: 16px;
}
.tennisModule .container .contentBlocks div.tennisResults {
    border-top: 1px solid #cdcdcd;
    float: left;
    width: 50%;
}
.tennisModule .container .contentBlocks .tennisResults h3 {
    border-bottom: 1px solid #cdcdcd;
    color: #505050;
    display: block;
    font-size: 1.23em;
    line-height: 2em;
    padding: 0 10px;
}
.tennisModule .container .contentBlocks .tennisResults .container {
    padding: 0 10px;
}
.tennisModule .container .contentBlocks .tennisResults p {
    margin: 0.5em 0;
}
.tennisModule .container .contentBlocks .tennisResults .updated {
    font-size: 0.9em;
}
.tennisModule .container .contentBlocks .match {
    margin: 10px 0 5px;
}
.tennisModule .container .contentBlocks .match thead {
    display: none;
}
.tennisModule .container .contentBlocks .match .player .name {
    font-weight: bold;
}
.tennisModule .container .contentBlocks .match .player {
    width: 150px;
}
.tennisModule .container .contentBlocks .match .score {
    padding-left: 16px;
}
.tennisModule .tennisModuleFooterLinks {
    border-top: 1px solid #cdcdcd;
    clear: both;
    float: none;
    padding: 0 8px;
    width: auto;
}
.tennisModule .tennisModuleFooterLinks ul {
    float: right;
}
.tennisModule .tennisModuleFooterLinks li {
    border-left: 1px solid #323232;
    padding: 0 0 0 0.5em;
    border-bottom: none;
    display: inline;
    margin-left: 0.5em;
}
.tennisModule .tennisModuleFooterLinks ul li.first {
    border-left: none;
}
.publicservice #announcement #announcement_title,
.obituary #announcement #announcement_title {
    background: #F5322D;
    color: #fff;
    padding-left: 16px;
}
.publicservice #announcement,
.obituary #announcement {
    background-color: #323232;
}
.publicservice #announcement a,
.publicservice #announcement p,
.obituary #announcement a,
.obituary #announcement p {
    color: #fff;
    padding-left: 16px;
}
.publicservice #announcement p,
.obituary #announcement p {
    padding-top: 8px;
}
.publicservice #announcement_announcement .heroLink,
.obituary #announcement_announcement .heroLink {
    font-size: 40px;
}
.publicservice #announcement .hero,
.obituary #announcement .hero {
    padding-bottom: 16px;
}
.publicservice .colC .module h2,
.obituary .colC .module h2 {
    background: #DCDCDC;
    float: none;
    border-bottom: 1px solid #fff;
}
.publicservice .colC .module,
.obituary .colC .module {
    background: #F0F0F0;
    float: none;
}
.publicservice .colC .module h2,
.publicservice .colC .module .list,
.obituary .colC .module h2,
.obituary .colC .module .list {
    padding-left: 8px;
}
.publicservice .colC .module .list li,
.obituary .colC .module .list li {
    padding-bottom: 16px;
    border: 0;
}
.publicservice .list li,
.obituary .list li {
    border: 0;
}
.publicservice #travel h2,
.obituary #travel h2 {
    padding-left: 7px;
}
.publicservice #travel .travel_links,
.obituary #travel .travel_links {
    padding-top: 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #fff;
}
.publicservice #weather,
.obituary #weather {
    padding: 0;
    width: 100%;
}
.publicservice #weather h2,
.obituary #weather h2 {
    padding: 0 8px;
}
.publicservice #worldService,
.obituary #worldService {
    padding: 0;
}
.publicservice #worldService h2,
.obituary #worldService h2 {
    padding: 0 8px;
}
.publicservice #worldService_container,
.obituary #worldService_container {
    overflow: hidden;
}
.publicservice #worldService_container .contentBlock,
.obituary #worldService_container .contentBlock {
    float: none;
    padding-left: 0;
    width: 100%;
}
.publicservice #sport li.first,
.obituary #sport li.first {
    padding-top: 4px;
}
.publicservice #sport li,
.obituary #sport li {
    width: 152px;
    float: left;
}
.publicservice #sport h2 {
    margin-bottom: 3px;
}
.obituary #announcement {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 408px;
}
.obituary #announcement .hero,
.obituary #announcement a,
.obituary #announcement p {
    padding: 0;
}
.obituary #announcement .title {
    position: absolute;
    z-index: 1;
    width: 404px;
    top: 12px;
    left: 13px;
}
.obituary #announcement h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 0.9;
    color: #fff;
    border: 0;
}
.obituary #announcement h2 .dates {
    font-size: 35px;
    padding-top: 10px;
}
.obituary #announcement img {
    position: absolute;
}
.obituary .list li {
    border-bottom: 1px solid #eee;
}
.obituary #sport li {
    width: 100%;
    float: none;
}
.obituary #moreFromBbc {
    padding-bottom: 7px;
    border-bottom: 1px solid #D3D3D3;
}
.obituary #moreFromBbc h2 {
    border-top: 1px solid #D3D3D3;
}
.obituary #moreFromBbc li {
    border: none;
    padding: 2px;
}
#localcorrespondent h2 {
    border-top: 1px solid #d3d3d3;
}
#localcorrespondent #localcorrespondent_featured_title {
    display: block;
    font-size: 1.538em;
}
#localcorrespondent #localcorrespondent_featured p {
    line-height: 1.231em;
}
#localcorrespondent #localcorrespondent_featured .hpQuoteOpen,
#localcorrespondent #localcorrespondent_featured .hpQuoteClose,
#localcorrespondent #localcorrespondent_featured .readMore {
    display: none;
}
#localcorrespondent #localcorrespondent_featured {
    float: right;
    width: 472px;
    margin-left: 8px;
}
#localcorrespondent #localcorrespondent_correspondentImage {
    float: left;
}
#localcorrespondent #localcorrespondent_featured h4 {
    font-size: 1.1em;
    padding: 12px 0 6px;
}
#localNews .hero {
    float: left;
    padding: 0 10px 0 0;
    width: 300px;
}
#localNews #localNews_title {
    border-top: 1px solid #d3d3d3;
    line-height: 0.9em;
}
#localNews h2 a {
    font-size: 0.714em;
}
#localNews .heroLink {
    font-size: 16px;
}
#localNews .heroLink img {
    padding-top: 27px;
    margin-left: -144px;
    left: 144px;
    padding-top: 27px;
    position: relative;
}
#localNews .hero p {
    margin-left: 160px;
    padding-top: 4px;
}
#future #future_title {
	border-top: 1px solid #d3d3d3;
}
#future .hero {
    float: left;
    width: 304px;
    margin-right: 16px;
    padding-bottom: 0;
}
#future #future_hero_mini_two {
    margin-right: 0;
}
#future .hero .heroLink {
	font-size: 16px;
}
#future .heroLink img {
	left: 144px;
	margin-left: -144px;
	margin-top: 0;
	padding-top: 27px;
	position: relative;
}
#future .title_first .summary {
	margin-left: 160px;
	padding-top: 4px;
}
body.bbccom_slot_module_0006i #future .bbccom_module .moduleAdvertContent {
    margin-top: 20px;
}
body.bbccom_slot_module_0006i #future .bbccom_module .bbccom_text {
    float: left;
    margin:  16px 7px 0 0;
}
body.bbccom_slot_module_0006i #future .bbccom_module .bbccom_image {
    float: left;
}
